.position-1,
.position-2,
.position-3,
.position-4,
.position-5,
.position-6,
.position-7,
.position-8,
.position-9 {
  border-radius: 10px;
  background: chocolate; }
  .position-1:hover,
  .position-2:hover,
  .position-3:hover,
  .position-4:hover,
  .position-5:hover,
  .position-6:hover,
  .position-7:hover,
  .position-8:hover,
  .position-9:hover {
    opacity: 0.9; }
    .position-1:hover .img-container,
    .position-2:hover .img-container,
    .position-3:hover .img-container,
    .position-4:hover .img-container,
    .position-5:hover .img-container,
    .position-6:hover .img-container,
    .position-7:hover .img-container,
    .position-8:hover .img-container,
    .position-9:hover .img-container {
      border: 3px solid lightsalmon; }

/* Normalize styles */
* {
  margin: 0;
  padding: 0;
  /* all elements inside body inherit one's box-sizing */
  box-sizing: inherit; }

html {
  /* root font-size is equal 10px, if default font-size is 16px */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .flex-container.center {
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column; }
  .footer {
    flex-direction: column; }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-content: center; }
  .position-1,
  .position-2,
  .position-3,
  .position-4,
  .position-5,
  .position-6,
  .position-7,
  .position-8,
  .position-9 {
    width: 100%;
    margin-bottom: 10px; }
  .logo {
    display: none; }
  .lbl {
    text-align: center; } }

@media screen and (min-width: 481px) and (max-width: 580px) {
  .logo {
    display: none; } }

@media screen and (min-width: 481px) and (max-width: 960px) {
  header, main, footer {
    margin-left: 0;
    margin-right: 0; }
  .header {
    flex-direction: row; }
  .footer {
    flex-direction: row;
    margin-top: 20px; }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); }
  .position-1 {
    grid-column: 1;
    grid-row: 1; }
  .position-2 {
    grid-column: 2;
    grid-row: 1; }
  .position-3 {
    grid-column: 1;
    grid-row: 2; }
  .position-4 {
    grid-column: 2;
    grid-row: 2; }
  .position-5 {
    grid-column: 1;
    grid-row: 3; }
  .position-6 {
    grid-column: 2;
    grid-row: 3; }
  .position-7 {
    grid-column: 1;
    grid-row: 4; }
  .position-8 {
    grid-column: 2;
    grid-row: 4; }
  .position-9 {
    grid-column: 1;
    grid-row: 5; } }

@media screen and (min-width: 961px) and (max-width: 1440px) {
  header, main, footer {
    margin-left: 0;
    margin-right: 0; }
  .header {
    flex-direction: row; }
  .footer {
    flex-direction: row;
    margin-top: 20px; }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); }
  .position-1 {
    grid-column: 1;
    grid-row: 1; }
  .position-2 {
    grid-column: 2;
    grid-row: 1; }
  .position-3 {
    grid-column: 3;
    grid-row: 1; }
  .position-4 {
    grid-column: 1;
    grid-row: 2; }
  .position-5 {
    grid-column: 2;
    grid-row: 2; }
  .position-6 {
    grid-column: 3;
    grid-row: 2; }
  .position-7 {
    grid-column: 1;
    grid-row: 3; }
  .position-8 {
    grid-column: 2;
    grid-row: 3; }
  .position-9 {
    grid-column: 3;
    grid-row: 3; } }

@media screen and (min-width: 1441px) {
  header, main, footer {
    width: 1440px;
    margin-left: auto;
    margin-right: auto; }
  .header {
    flex-direction: row; }
  .footer {
    flex-direction: row;
    margin-top: 20px; }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); }
  .position-1 {
    grid-column: 1;
    grid-row: 1; }
  .position-2 {
    grid-column: 2;
    grid-row: 1; }
  .position-3 {
    grid-column: 3;
    grid-row: 1; }
  .position-4 {
    grid-column: 1;
    grid-row: 2; }
  .position-5 {
    grid-column: 2;
    grid-row: 2; }
  .position-6 {
    grid-column: 3;
    grid-row: 2; }
  .position-7 {
    grid-column: 1;
    grid-row: 3; }
  .position-8 {
    grid-column: 2;
    grid-row: 3; }
  .position-9 {
    grid-column: 3;
    grid-row: 3; } }

strong {
  font-size: 16pt;
  font-weight: bold; }

.header, .footer {
  padding-top: 20px;
  padding-bottom: 20px; }

.header {
  background: orange; }

.footer {
  font-family: "Lato", sans-serif;
  color: white;
  background: maroon;
  position: absolute;
  width: 100%;
  padding: 20px 10px 20px 10px; }
  .footer span {
    padding-top: 10px;
    padding-bottom: 10px; }
  .footer a {
    color: white; }
  .footer a:hover {
    opacity: 0.7; }

.logo-wrapper {
  max-width: 68px; }

.logo {
  width: 100%; }

.lbl {
  font-family: "Lato", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  color: maroon;
  width: 210px;
  margin: 10px; }
  .lbl a {
    color: maroon; }
  .lbl a:hover {
    opacity: 0.5; }

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  height: 42px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  color: white;
  background: brown;
  cursor: pointer; }
  .btn .btn-ordinary {
    width: 210px; }
  .btn .btn-wide {
    width: 100%; }
  .btn:hover {
    opacity: 0.7; }

.tile {
  width: 100%; }

.img-container {
  border-radius: 50%;
  border: 3px solid transparent;
  margin-top: 10px; }

.details {
  background: white;
  border-radius: 5px;
  margin-top: 20px; }

.img-container, .details {
  width: 100%;
  padding: 10px; }

.padded {
  padding: 10px; }

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  max-width: 320px; }
  .login-form label,
  .register-form label {
    font-size: 9pt;
    font-weight: bold; }
  .login-form .fld,
  .register-form .fld {
    font-size: 14pt;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0 20px 0; }

.login-form {
  margin: 120px auto; }

.register-form {
  margin: 48px auto; }

.my-info-container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 120px auto;
  text-align: center; }
  .my-info-container p {
    font-size: 9pt;
    margin: 20px 0 10px 0; }

.alert-txt {
  font-size: 10pt;
  text-align: center;
  color: red;
  margin: 20px 0 10px 0; }
