/* Normalize styles */
* {
  margin: 0;
  padding: 0;
  /* all elements inside body inherit one's box-sizing */
  box-sizing: inherit; }

html {
  /* root font-size is equal 10px, if default font-size is 16px */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background: lightblue; }

@media screen and (max-width: 320px) {
  .container,
  .list-panel {
    width: 320px; } }

@media screen and (min-width: 321px) {
  .container,
  .list-panel {
    width: 320px;
    margin-left: auto;
    margin-right: auto; } }

.list-panel {
  font-size: 10pt;
  text-align: justify;
  padding: 5px; }

.container {
  margin-top: 10px;
  margin-bottom: 10px; }
  .container .main-panel,
  .container .day-panel {
    background: skyblue;
    border: 1px solid gray;
    line-height: 1.5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
  .container .main-panel {
    width: 100%;
    padding: 20px;
    border-radius: 10px; }
    .container .main-panel .left-panel,
    .container .main-panel .right-panel {
      flex-direction: column; }
    .container .main-panel .left-panel {
      width: 70%;
      align-content: left;
      align-items: left;
      text-align: left; }
    .container .main-panel .right-panel {
      width: 30%;
      align-content: right;
      align-items: right;
      text-align: right; }
  .container .day-panel {
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin: 7px 0 7px 0;
    text-align: center; }

.img-container,
.img {
  width: 100%; }

.btn {
  font-size: 12pt;
  border-radius: 5px;
  border: 1px solid gray;
  color: black;
  background: lightblue;
  padding: 5px 8px 5px 8px; }
  .btn:hover {
    opacity: 0.7; }
  .btn.btn-active {
    opacity: 1;
    transition: all .2s; }
    .btn.btn-active:hover, .btn.btn-active:focus {
      transform: translate(-2px, -2px);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }
    .btn.btn-active:active {
      transform: translate(-1px, -1px);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center; }

.search-fld {
  width: 185px; }

.fa-star,
.fa-history {
  color: gold; }

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */ }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: maroon;
    border-radius: 5px;
    border: 1px solid gray;
    /* Create the checkmark/indicator (hidden when not checked) */ }
    .checkbox-container .checkmark:after {
      font-family: "FontAwesome";
      content: "\f089";
      color: lightblue;
      display: block;
      position: absolute;
      top: 3px;
      left: 5px;
      font-size: 16pt;
      z-index: 1; }
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc; }
  .checkbox-container input:checked ~ .checkmark {
    background-color: skyblue; }
  .checkbox-container input:checked ~ .checkmark:after {
    font-family: "FontAwesome";
    content: "\f005";
    color: gold;
    display: block;
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 16pt;
    z-index: 1; }
